{% extends 'base.html' %}

{% block title %}Recipe{% endblock %}

{% block content %}
    <script src="{{url_for('static',filename='recipe.js')}}"></script>
    {% with messages = get_flashed_messages(category_filter=["message"]) %}
        {% if messages %}
            <ul class="bg-green-300 border-2 border-green-500 px-2 py-1 w-full rounded-md text-center">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% if recipe and image_src and recipeAuthor and ingredients and directions and recipe_id %}
    <div class="flex flex-col gap-3 max-w-screen-md mx-10 md:mx-auto ">
        <h1 class="text-6xl font-medium">{{recipe.title}}</h1>
        <div class="flex flex-row gap-3">
            <div class="flex flex-row gap-2 my-auto">
                <img class="size-6" id="avgstar11" src="{{url_for('static', filename='starEmpty.png')}}">
                <img class="size-6" id="avgstar22" src="{{url_for('static', filename='starEmpty.png')}}">
                <img class="size-6" id="avgstar33" src="{{url_for('static', filename='starEmpty.png')}}">
                <img class="size-6" id="avgstar44" src="{{url_for('static', filename='starEmpty.png')}}">
                <img class="size-6" id="avgstar55" src="{{url_for('static', filename='starEmpty.png')}}">
            </div>
            <div class="border-b-2 border-violet-400" id="avgRating">5.0 (1000)</div>
            <div class="border-l-2 border-gray-200 w-1 h-6 my-auto"> </div>
            <a class="border-b-2 border-violet-400" id="totalReviews" href="#reviews">500 Reviews</a>
        </div>
        <div>{{recipe.story}}</div>
        <div class="flex flex-row gap-3">
            <div>Submitted by <span class="font-medium">{{recipeAuthor.username}}</span></div>
            <div class="border-l-2 border-gray-200 w-1 h-6 my-auto"> </div>
            <div class="text-gray-500"> Posted on {{recipe.date_added}}</div>
        </div>
        <div class="flex flex-row gap-1">
            <a class="bg-violet-400 hover:bg-violet-500 font-medium text-white py-3 px-4" href="#reviews">I made this!</a>
            <button class="bg-violet-400 hover:bg-violet-500 font-medium text-white py-3 px-4" onclick="window.print()">Print</button>
            <button class="bg-violet-400 hover:bg-violet-500 font-medium text-white py-3 px-4">Share</button>
        </div>
        <div class="w-full md:w-2/3 h-fit flex flex-col gap-3">
            <img class="object-contain rounded-md shadow-lg" src="{{ image_src }}" alt="Image" >
            <div class="border-4  border-violet-400 rounded-md">
                <div class="flex flex-row">
                    <div class="flex flex-col w-1/2 p-2">
                        <div class="font-medium">Prep Time:</div>
                        <div>{{recipe.prep_time}} mins</div>
                    </div>
                    <div class="flex flex-col w-1/2 p-2">
                        <div class="font-medium">Cook Time:</div>
                        <div>{{recipe.cook_time}} mins</div>
                    </div>
                </div>
                <div class="flex flex-row">
                    <div class="flex flex-col w-1/2 p-2">
                        <div class="font-medium">Total Time:</div>
                        <div>{{recipe.cook_time + recipe.prep_time}} mins</div>
                    </div>
                    <div class="flex flex-col w-1/2 p-2">
                        <div class="font-medium">Servings:</div>
                        <div>{{recipe.servings}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <h1 class="text-4xl font-medium">Ingredients</h1>
            
            <ul class="ml-8 list-disc list-inside" id="ingredientList">
                {% for ingredient in ingredients %}
                <li>{{ingredient.ingredient}}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h1 class="text-4xl font-medium">Directions</h1>
            <ul class="mt-4 ml-8 list-disc list-inside">
                {% for direction in directions %}
                <li class="">{{direction.step_description}}</li>
                {% endfor %}
            </ul>
        </div>
        <form class="flex flex-col gap-4 border-8 rounded-md border-violet-400 p-4 w-full md:w-2/3" method="post" enctype="multipart/form-data" action="/review/{{recipe_id}}"  id="reviews">
            <h1 class="text-2xl font-medium">{{recipe.title}}</h1>
            <h2 class="text-lg ">Rating</h6>
            <div class="flex flex-row">
                <input type="number" name="rating" hidden id="rating" value="1">
                <button class="size-10" type="button" onclick="starReview(1)" onmouseover="starHover(1)" onmouseout="starHoverEnd()">
                    <img id="star1" src="{{url_for('static', filename='starEmpty.png')}}">
                </button>
                <button class="size-10" type="button" onclick="starReview(2)" onmouseover="starHover(2)" onmouseout="starHoverEnd()">
                    <img id="star2" src="{{url_for('static', filename='starEmpty.png')}}">
                </button>
                <button class="size-10" type="button" onclick="starReview(3)" onmouseover="starHover(3)" onmouseout="starHoverEnd()">
                    <img id="star3" src="{{url_for('static', filename='starEmpty.png')}}">
                </button>
                <button class="size-10" type="button" onclick="starReview(4)" onmouseover="starHover(4)" onmouseout="starHoverEnd()">
                    <img id="star4" src="{{url_for('static', filename='starEmpty.png')}}">
                </button>
                <button class="size-10" type="button" onclick="starReview(5)" onmouseover="starHover(5)" onmouseout="starHoverEnd()">
                    <img id="star5" src="{{url_for('static', filename='starEmpty.png')}}">
                </button>
            </div>
            <h2 class="text-lg">Review</h2>
            <textarea name="review" class="border-2"></textarea>
            <button type="submit" class="mx-auto w-1/2 bg-violet-400 hover:bg-violet-500 text-white font-medium px-2 py-1">Submit Review</button>
            <div class="border-b-2 border-gray-200 w-full"></div>
            <div class="flex flex-row gap-2 mx-auto">
                <img class="size-8" id="avgstar1" src="{{url_for('static', filename='starEmpty.png')}}">
                <img class="size-8" id="avgstar2" src="{{url_for('static', filename='starEmpty.png')}}">
                <img class="size-8" id="avgstar3" src="{{url_for('static', filename='starEmpty.png')}}">
                <img class="size-8" id="avgstar4" src="{{url_for('static', filename='starEmpty.png')}}">
                <img class="size-8" id="avgstar5" src="{{url_for('static', filename='starEmpty.png')}}">
            </div>
            <div class="flex flex-col gap-2 mx-auto">
                <div class="flex flex-row gap-2">
                    <div>5 stars</div>
                    <div class="flex flex-row ">
                        <div id="starbarv5" class="w-[0px] h-4 bg-violet-400 my-auto"></div>
                        <div id="starbarg5" class="w-[200px] h-4 bg-gray-200 my-auto"></div>
                    </div>
                    <div id="starbar5" class="">100</div>
                </div>
                <div class="flex flex-row gap-2">
                    <div>4 stars</div>
                    <div class="flex flex-row ">
                        <div id="starbarv4" class="w-[0px] h-4 bg-violet-400 my-auto"></div>
                        <div id="starbarg4" class="w-[200px] h-4 bg-gray-200 my-auto"></div>
                    </div>
                    <div id="starbar4">100</div>
                </div>
                <div class="flex flex-row gap-2">
                    <div>3 stars</div>
                    <div class="flex flex-row ">
                        <div id="starbarv3" class="w-[0px] h-4 bg-violet-400 my-auto"></div>
                        <div id="starbarg3" class="w-[200px] h-4 bg-gray-200 my-auto"></div>
                    </div>
                    <div id="starbar3">100</div>
                </div>
                <div class="flex flex-row gap-2">
                    <div>2 stars</div>
                    <div class="flex flex-row ">
                        <div id="starbarv2" class="w-[0px] h-4 bg-violet-400 my-auto"></div>
                        <div id="starbarg2" class="w-[200px] h-4 bg-gray-200 my-auto"></div>
                    </div>
                    <div id="starbar2">100</div>
                </div>
                <div class="flex flex-row gap-2">
                    <div>1 stars</div>
                    <div class="flex flex-row ">
                        <div id="starbarv1" class="w-[0px] h-4 bg-violet-400 my-auto"></div>
                        <div id="starbarg1" class="w-[200px] h-4 bg-gray-200 my-auto"></div>
                    </div>
                    <div id="starbar1">100</div>
                </div>
            </div>
        </form>
        <div class="flex flex-col gap-4 w-full md:w-2/3">
            {% for review in reviews %}
            <div class="flex flex-col gap-2 border-2 border-gray-100 p-4 rounded-md">
                <div class="flex flex-row">
                    {% if review.rating == 5 %}
                    <div class="flex flex-row gap-2">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                    </div>
                    {% endif %}
                    {% if review.rating == 4 %}
                    <div class="flex flex-row gap-2">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starEmpty.png')}}">
                    </div>
                    {% endif %}
                    {% if review.rating == 3 %}
                    <div class="flex flex-row gap-2">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starEmpty.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starEmpty.png')}}">
                    </div>
                    {% endif %}
                    {% if review.rating == 2 %}
                    <div class="flex flex-row gap-2">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starEmpty.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starEmpty.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starEmpty.png')}}">
                    </div>
                    {% endif %}
                    {% if review.rating == 1 %}
                    <div class="flex flex-row gap-2">
                        <img class="size-8" src="{{url_for('static', filename='starFull.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starEmpty.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starEmpty.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starEmpty.png')}}">
                        <img class="size-8" src="{{url_for('static', filename='starEmpty.png')}}">
                    </div>
                    {% endif %}
                    <div class="my-auto ml-auto">{{review.review_date}}</div>
                </div>
                <div class="">{{review.review}}</div>
                <div class="font-medium">{{review.username}}</div>
            </div>
            {% endfor %}
        </div> 
    </div>
    {% else %}
        <p>Content not found.</p>
    {% endif %}
{% endblock %}